BasedOnStyle: Google

BreakConstructorInitializers: AfterColon
BreakInheritanceList:         AfterColon

ColumnLimit: 100

IndentAccessModifiers: true
IndentWidth:           4

NamespaceIndentation: All
