BasedOnStyle: Google

AlignConsecutiveAssignments:
  Enabled:                   true
  AcrossEmptyLines:          false
  AcrossComments:            false
  AlignCompound:             true
  AlignFunctionDeclarations: true
  AlignFunctionPointers:     true
  PadOperators:              true

BreakConstructorInitializers: AfterColon
BreakInheritanceList:         AfterColon

ColumnLimit: 100

IndentAccessModifiers: true
IndentWidth:           4

InsertBraces:       true
InsertNewlineAtEOF: true

NamespaceIndentation: All

RemoveEmptyLinesInUnwrappedLines: true
