BasedOnStyle: Google

AccessModifierOffset: -4
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true

BreakConstructorInitializers: AfterColon
BreakInheritanceList:         AfterColon

ColumnLimit: 100

IndentAccessModifiers: false
IndentWidth:           4

NamespaceIndentation: All
