Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  readability-*,
  misc-include-cleaner,

FormatStyle: none

CheckOptions:
  - key:   readability-identifier-naming.FunctionCase
    value: camelBack
  - key:   readability-identifier-naming.VariableCase
    value: camelBack
